*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
}

img {
    width: 50%;
    margin-right: 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(45deg,#008fa7, #008ea77a);
}

.title h1 {
    margin-left: 5vw;
    color: beige;
    font-family: monospace;
}

.info-part {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg,#008fa7, #008ea77a);
}

@media only screen and (min-width: 649px) {
    .general-info {
        position: relative;
        width: 25vw;
        height: 60vh;
        margin-top: 5vh;
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(45deg, #32c6ce27, #1cb4c269);
        border-radius: 2px;
        z-index: 2;
    
    }

    .temp-min-max {
        width: 20vw;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .min-max {
        display: flex;
        align-items: center;
    }

    .reserved {
        display: none;
    }

    .search-part input {
        width: 15vw;
        height: 7vh;
        padding: 5px;
        background: none;
        border: 1px solid white;
        border-radius: 5px;
    }

    .search-part button {
        width: 10vw;
        height: 7vh;
        background: none;
        border: 1px solid white;
        border-radius: 5px;
        font-family: monospace;
        font-weight: bold;
        color: white;
        transition: 300ms;
    }
}

@media only screen and (max-width: 649px) {
    .general-info {
        display: none;
    }

    .temp-min-max {
        display: none;
    }

    .min-max {
        display: none;
    }

    .reserved {
        width: 75vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-part input {
        width: 45vw;
        height: 7vh;
        padding: 3px;
        background: none;
        border: 1px solid white;
        border-radius: 5px;
    }

    .search-part button {
        width: 30vw;
        height: 7vh;
        background: none;
        border: 1px solid white;
        border-radius: 5px;
        font-family: monospace;
        font-weight: bold;
        color: white;
        transition: 300ms;
    }
}



.general-info h2 {
    font-weight: bolder;
    font-family: monospace;
    color: white;
}

.city-name {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.date-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.wind, .humidity {
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.wind h2, .humidity h2 {
    width: 7vw;
}

.wind img, .humidity img {
    width: 3vw;
    height: 5vh;
}


.cover {
    position: absolute;
    top: -4%;
    left: -4%;
    width: 25vw;
    height: 60vh;
    background-image: linear-gradient(#32c6ce, #1cb3c2);
    border-radius: 2px;
    opacity: 0.2;
    z-index: 0;
}

.weather-info {
    width: 40vw;
    height: 60vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
}

.temp-part {
    width: 50vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp-main {
    width: 30vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.icon-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-part {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(45deg,#008fa7, #008ea77a);
}



.search-part input::placeholder {
    font-family: monospace;
    font-weight: bold;
    color: white;
}



.search-part button:hover {
    color: tomato;
    border-color: teal;
}