*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
}

img {
    width: 50%;
    margin-right: 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-part {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg,#008fa7, #008ea77a);
}

.general-info {
    position: relative;
    width: 25vw;
    height: 60vh;
    margin-top: 10vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(45deg, #32c6ce27, #1cb4c269);
    border-radius: 2px;
    z-index: 2;

}

.general-info h2 {
    font-weight: bolder;
    font-family: monospace;
    color: white;
}

.city-name {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


.wind, .humidity {
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.wind h2, .humidity h2 {
    width: 7vw;
}

.wind img, .humidity img {
    width: 3vw;
    height: 5vh;
}


.cover {
    position: absolute;
    top: -4%;
    left: -4%;
    width: 25vw;
    height: 60vh;
    background-image: linear-gradient(#32c6ce, #1cb3c2);
    border-radius: 2px;
    opacity: 0.2;
    z-index: 0;
}

.weather-info {
    width: 40vw;
    height: 60vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
}

.temp-part {
    width: 50vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp-min-max {
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.min-max {
    display: flex;
    align-items: center;
}

.temp-main {
    width: 30vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.icon-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

